@use "../../../scss/variables" as var;

.primaryBtn {
  background: var.$primaryColor;
  border: none;
  border-radius: 8px;
  color: var.$white;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background: #989a6e;
  }
}
