@use "../../../scss/variables" as var;

.serviceCard {
  display: flex;
  max-width: 445px;
  width: 100%;
  flex-direction: column;
  background: #afb08426;
  border-radius: 20px;
  box-shadow: 0 0 17px 4px #00000059;
  height: 500px;
  min-height: 400px;
  @media screen and (min-width: 768px) {
    height: 550px;
  }

  .imageContainer {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  img {
    object-fit: fill;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .serviceContent {
    padding: 15px;

    h3 {
      font-size: 18px;
      font-weight: 700;
    }

    p {
      font-size: 16px;
      font-weight: 500;
    }

    a {
      display: inline-block;
      padding: 10px;
      border: 1px solid var.$primaryColor;
      margin-top: 5px;
      border-radius: 5px;
      text-decoration: none;
      color: var.$primaryColor;
      background-color: #f9f9f9;
      transition: background-color 0.1s, color 0.1s, border-color 0.1s;
    }

    a:hover {
      background-color: var.$primaryColor;
      color: white;
      border-color: #8f905f;
    }
  }
}
