@use "../../../../scss/variables" as var;

.mobileLayout {
  background: #0006;
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

.mobileNavbarContainer {
  background: var.$white;
  bottom: 0;
  box-sizing: border-box;
  color: #6c6b6b;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  max-width: 80%;
  padding: 24px;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(320px);
  transition: 0.3s ease;
  width: 320px;
  z-index: 9;
  overflow: auto;

  &.active {
    transform: translateX(0);
  }
}

.closeButton {
  background: none;
  border: none;
  text-align: right;
  color: #6c6b6b;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 550;
}

.mobileNavbarContent {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logo {
  position: relative;
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.navList {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  li {
    padding: 8px;

    &.isActive {
      color: var.$primaryColor;
      border-bottom: 1px solid var.$primaryColor;
    }

    button {
      background: none;
      border: none;
      color: inherit;
      cursor: pointer;
      padding: 0;

      &:hover {
        text-decoration: underline;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  li.searchListItem {
    padding: 0;
  }
}

.contactInfo {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactItems {
  display: flex;
  flex-direction: column;
  gap: 5px;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.appointmentBtn {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
}

.searchContainer {
  position: relative;
  width: 100%;
  height: 35px;
  padding-left: 35px;
  border-radius: 10px;
  outline: none;
  border: 1px solid var.$primaryColor;

  .searchInput {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    color: var.$primaryColor;
  }
}

.searchWrapper {
  position: relative;
  width: 100%;
}

.searchSuggestions {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  list-style: none;
  background: white;
  z-index: 1;
  padding: 0;
  max-height: 50vh;
  overflow: auto;
  li {
    border-bottom: 1px solid #dddddd;
    .suggestionLink {
      color: var.$primaryColor;
      width: 100%;
      padding: 5px;
      display: block;
      text-decoration: none;
    }
    &.noResults {
      text-align: center;
      padding: 10px;
      // color: var.$primaryColor;
      border: none;
      cursor: default;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      svg {
        color: var.$primaryColor;
      }
    }
  }
}

.navBarItem {
  user-select: none;
  button {
    display: flex;
    gap: 10px;
  }
  .submenuList {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease;

    &.open {
      max-height: 500px;
      margin-top: 10px;
    }

    li {
      border-bottom: 1px solid #dddddd;
    }
  }
}
.iconOpen {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
