@use "../../../scss/variables" as var;

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @media (min-width: 600px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @media (min-width: 850px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @media (min-width: 1000px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @media (min-width: var.$breakpoint-xl) {
        padding-left: var.$padding-xl;
        padding-right: var.$padding-xl;
        max-width: 1440px;
    }
}