.contactContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: 700;
    gap: 60px;
    justify-content: space-evenly;
    font-size: 18px;

    @media (min-width: 850px) {
        flex-direction: row;
    }


    p {
        text-align: center;
    }
}