@use "../../../scss/variables" as var;

.header {
  position: sticky;
  top: -75px;
  z-index: 99;
}

.headerContacts {
  background: var.$primaryColor;
}

.headerContactsContent,
.headerNavbarContent {
  width: 100%;
  height: 75px;
  color: var.$white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.headerNavbar {
  background: var.$white;
  box-shadow: -2px 0px 12px rgba(0, 0, 0, 0.15);
  z-index: 99;
}

.headerNavbarContent {
  @media (min-width: "1000px") {
    height: 100px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  @media (min-width: var.$breakpoint-md) {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
  a {
    color: var.$white;
    text-decoration: none ;
  }
}

.logo {
  position: relative;
  width: 220px;
  height: 100%;
  @media (min-width: "1000px") {
    width: 350px;
  }
}

.desktopAppointmentBtn {
  display: none;
  padding: 15px;
  white-space: nowrap;
  a {
    color: var.$white;
    text-decoration: none;
  }
  @media (min-width: var.$breakpoint-md) {
    display: block;
  }
}

.logoImage.withSearch {
  @media screen and (max-width: 1150px) {
    display: none;
  }
}

.searchContainer {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  .searchButton {
    background: none;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.searchInput {
  width: 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #afb084;
  transition: width 0.2s ease-in-out;
  padding: 0;
  background: transparent;
}

.searchInput.active {
  width: 150px;
  padding: 5px;
  transition: width 0.2s ease-in-out;
  @media screen and (min-width: 970px) {
    width: 200px;
  }
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchSuggestions {
  position: absolute;
  width: 55%;
  top: 30px;
  list-style: none;
  background: white;
  z-index: 99;
  padding: 0;
  border: 1px solid var.$primaryColor;
  border-radius: 5px;
  li {
    border-bottom: 1px solid #dddddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &:hover {
      background: #f5f5f5;
      cursor: pointer;
    }
    .suggestionLink {
      color: var.$primaryColor;
      width: 100%;
      padding: 10px;
      display: block;
      text-decoration: none;
    }
    &.noResults {
      text-align: center;
      padding: 10px;
      color: var.$primaryColor;
      border: none;
      cursor: default;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      &:hover {
        background: white;
        cursor: default;
      }
      svg {
        color: var.$primaryColor;
      }
    }
  }
}
